@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--c-text-primary: #282a32;
	--c-text-secondary: #686b87;
	--c-text-action: #404089;
	--c-accent-primary: #434ce8;
	--c-border-primary: #eff1f6;
	--c-background-primary: #ffffff;
	--c-background-secondary: #fdfcff;
	--c-background-tertiary: #ecf3fe;
	--c-background-quaternary: #e9ecf4;
}

body {
	line-height: 1.5;
	min-height: 100vh;
	font-family: "Be Vietnam Pro", sans-serif;
	background-color: var(--c-background-secondary);
	color: var(--c-text-primary);
}

.vertical-tabs {
	display: flex;
	flex-direction: column;
	a {
		display: flex;
		align-items: center;
		padding: 0.75em 1em;
		background-color: transparent;
		border-radius: 8px;
		text-decoration: none;
		font-weight: 500;
		color: var(--c-text-action);
		transition: 0.15s ease;
		&:hover,
		&:focus,
		&.active {
			background-color: var(--c-background-tertiary);
			color: var(--c-accent-primary);
		}

		& + * {
			margin-top: 0.25rem;
		}
	}
}



.Btn {
	--black: #000000;
	--ch-black: #141414;
	--eer-black: #1b1b1b;
	--night-rider: #2e2e2e;
	--white: #ffffff;
	--af-white: #f3f3f3;
	--ch-white: #e1e1e1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 45px;
	height: 45px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition-duration: .3s;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
	background-color: var(--af-white);
}

.sign {
width: 100%;
transition-duration: .3s;
display: flex;
align-items: center;
justify-content: center;
}

.sign svg {
width: 17px;
}

.sign svg path {
fill: var(--night-rider);
}
.text {
position:relative;
opacity: 0;
color: var(--night-rider);
font-size: 1.2em;
font-weight: 600;
transition-duration: .3s;
}
.Btn:hover {
width: 125px;
border-radius: 5px;
transition-duration: .3s;
}

.Btn:hover .sign {
width: 30%;
transition-duration: .3s;
padding-left: 20px;
}
.Btn:hover .text {
opacity: 1;
width: 70%;
transition-duration: .3s;
padding-right: 10px;
}
.Btn:active {
transform: translate(2px ,2px);
}