<div class="sidebar">
    <div class="sidebar-header">FarmSmart</div>
    <div class="sidebar-menu">
        <a href="{{ url_for('profile') }}"><span class="glyphicon glyphicon-user"></span> Profile</a>
        <a href="{{ url_for('hydroponic_monitor') }}"><span class="glyphicon glyphicon-leaf"></span> Hydroponic</a>
        <a href="{{ url_for('expert') }}"><span class="glyphicon glyphicon-briefcase"></span> Book an Expert</a>
        <a href="{{ url_for('forums') }}"><span class="glyphicon glyphicon-comment"></span> Forums</a>
        <a href="{{ url_for('market') }}"><span class="glyphicon glyphicon-shopping-cart"></span> Market</a>
        <a href="{{ url_for('settings') }}"><span class="glyphicon glyphicon-cog"></span> Settings</a>
        <a href="{{ url_for('help') }}"><span class="glyphicon glyphicon-question-sign"></span> Help</a>
        <a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
    </div>
</div>
